// Define variables for your color scheme

// For example:
$red: #D90429;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #EDF2F4;
$light-gray: #F4F4F4;
$nav-bar-hover-color: rgba(255,255,255,.9);
$nav-bar-link-color: rgba(255,255,255,.6);
$font-color: #28292D;