
//bootstap default variables

// General style
$font-family-sans-serif:  $body-font;
$headings-font-family:    $headers-font;
$body-bg:                 $light-gray;
$font-size-base: 1rem;


// Colors
$body-color: $gray;
$primary:    $blue;
$success:    $green;
$info:       $yellow;
$danger:     $red;
$warning:    $orange;

// Buttons & inputs' radius
$border-radius:    2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;



// project variables

@mixin button {
	background-color: black;
	border: 1px solid $red;
	padding: 0.2em 0.8em;
	color: white;
	font-weight: 700;
	border-radius: 25px;
	outline: transparent;
	box-shadow: transparent;
	@media screen and (max-width: 576px) {
			font-size: 0.8rem;
			}
}

@mixin input {
		border: none;
		border-radius: 15px;
		background: white;
}
