// HOME 
// 1. banner styling
// 2. about(chi siamo) styling
// 3. shops(negozi) styling
// 4. reviews styling
// 5. contacts styling





// 1. BANNER
.ghost-banner {
	margin-top: -130px;
  width:100%;
  height: 13vh;
  background:black;
}

.banner {
background-color: black;
margin: 0;
width: 100%;
display: flex;
flex-direction: column;
	.banner-header {
		margin-right: 1.6em;
		z-index: 1000;
		margin-top: -30px;
		@media screen and (max-width: 922px) {
		margin-top: 0;
		}
			
		.question-mark {
			width: 27px;
			height: 25px;
			display: inline-block;
			font-weight: 900;
			border: none;
			background-color: $red;
			border-radius: 50%;
			color: white;
			@media screen and (max-width: 576px) {
			width: 22px;
			height: 22px;
			font-size: 12px;
			}
		}
	}

	.banner-main {
		display: flex;
		margin: auto;
		padding: 15vh 2vw;
		width: 80%;
		@media screen and (max-width: 922px) {
		width: 100%;
		}
		.banner-image {
		display: flex;
		max-width: 400px;
		@media screen and (max-width: 922px) {
		width: 50vw;
		}


		}
		.banner-title {
			width: 40%;
			text-transform: uppercase;
			font-weight: 800;
			padding-top: 10vh;
			font-size: 1.9rem;
			@media screen and (max-width: 922px) {
			width: 100%;
			}
			@media screen and (max-width: 786px) {
			font-size: 1.3rem;
			padding-top: 2vh;
			}
			p {
			padding: 0.2em;
			color: white;
			}
			button {
				@include button();
				font-size: 1rem;
			}
		}
	}
}




// ABOUT STYLING
.about-description {
	margin: 20vh auto;
	color: $font-color;
	flex-direction: row;
	@media screen and (max-width: 786px) {
				margin: 10vh auto;
	}
	@media screen and (max-width: 992px) {
			flex-direction: column;
	}

	h3 {
			padding: 3em 0;
		font-weight: 900;
		display: inline-block;
		line-height: 5vh;
		text-transform: capitalize;
		@media screen and (max-width: 576px) {
			font-size: 1.2rem;
			}
			span {
			padding: 0.6em 0;
			border-bottom: 1px solid black;
			}
	}

	p {
		padding: 0.8rem;
		text-align: justify;
		width: 95%;
		@media screen and (max-width: 922px) {
		width: 100%;
		}
		@media screen and (max-width: 576px) {
			font-size: 0.9rem;
		}
	}
	
}

//SHOPS STYLING
.shops-container {
	background: #D01D3C;
	// background: rgba(217, 4, 41, 0.9);
	color: $font-color;
	padding-bottom: 3em;
 

	h3 {
		color: $light-gray;
		padding: 3em 0;
		font-weight: 900;
		display: inline-block;
		line-height: 5vh;
		text-transform: capitalize;
		@media screen and (max-width: 576px) {
			font-size: 1.2rem;
			}
			span {
			color: $light-gray;	
			padding: 0.6em 0;
			border-bottom: 1px solid $light-gray;
			}
	}

.shops {
	color: $font-color;
	

	.shops-details {
		flex-direction: row;
		margin-bottom: 0.5em;
		@media screen and (max-width: 786px) {
			flex-direction: column;
	}
	}
	.box {
		background: lightgray;
		width: 100%;
		height: 300px;

	}

	.shop  {
		flex: 1;
		background-color: white;
		margin: 0.3em;
		text-align: center;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

		h4 {
			font-weight: 900;
			padding: 1em 0;
			color: $font-color;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
			@media screen and (max-width: 576px) {
			font-size: 1.3rem;
			}

		}
	}
}
}



//REVIEWS STYLING

.reviews {
	padding: 10em 0;
	margin: auto;
	.review {
		color: $font-color;
		align-items: center;
		justify-content: center;
		margin: 1em;
		height: 200px;
		width: 400px;
		background-color: rgba(255, 255, 254, 0.5);
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
	}
}


// CONTACT STYLING


#contact {
	.contacts-box {
		flex-direction: row;
		@media screen and (max-width: 922px) {
			flex-direction: column;
		}
		.form {
			flex: 1;
			input {
				@include input();
			}

			h3 {
				padding: 3em 0;
				font-weight: 900;
				display: inline-block;
				line-height: 5vh;
				text-transform: capitalize;
				@media screen and (max-width: 576px) {
					font-size: 1.2rem;
					}
					span {
					padding: 0.6em 0;
					border-bottom: 1px solid black;
					}
			}
			}
		}

	img {
		flex: 1;
		width: 250px;
		height: auto;
	}
}
