
	<div class="banner">
		<div class="banner-header">
		 <form class="search-bar">
		    <input type="search" placeholder="&#xF002;" aria-label="Search">
		    <button type="submit">cerca</button>
  		</form>	
		<button class="question-mark">?</button>
		</div>

		
		<div class="banner-main">
		<div>
			<img  src="home-image.png" class="banner-image" alt="weelbarrow full of tools">
		</div>
		<div class="banner-title">
			<h3>é piu facile con gli attrezzi giusti</h3>
		</div>
		</div>
	</div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 150">
    	<path fill="#000" fill-opacity="1" d="M0,0L300,100L1440,0L1440,0L720,0L0,0Z"></path>
    </svg>