.list-product {
    list-style: none;
    .product{
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin: 7px 0px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
        &:hover {
            cursor:pointer;
        }

        a {
            color: black;
            &:hover {
                color: $red;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}